<html>

<head>
    <title>Stripe Implementation</title>
</head>

<body>
    <h1>HOME PAGE</h1>
    <p><a href="/register">Register an email</a></p>
    <p><a href="/subscribe">Subscribe a plan</a></p>
    <p><a href="/cancel">Cancel a subscription</a></p>
    <p><a href="/dashboard">Dashboard</a></p>
    <p><a href="/portal">Stripe Customer Portal</a></p>
</body>

</html>