<html>

<head>
    <title>Stripe Implementation</title>
</head>

<style type="text/css">
    .value {
        flex: 100px;
        color: blue;
    }

    .line {
        display: flex;
        width: 400px;
    }
</style>

<body>
    <div style="font-size: 20px"><%- send_msg.msg %> <a href=<%= send_msg.link %>><%= send_msg.link_msg %></a></div>
</body>

</html>