<html>

<head>
    <title>Stripe Implementation</title>
</head>

<body>
    <a href="/">Back Home</a>
    
    <form action="/portal" method="POST">
        <h1>Go to your Stripe Customer Portal</h1>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" required>

        <p><button type="submit" style="font-size: 16px">Go</button></p>
    </form>
</body>

</html>