<html>

<head>
    <title>Stripe Implementation</title>
</head>

<body>
    <a href="/">Back Home</a>
    
    <form action="/checkout" method="POST">
        <h1>Login</h1>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" required>
        
        <h1>Please choose your subscription</h1>
        <div>
            <label for="sub1">
                <input type="radio" id="sub1" name="subscription_choice" value="1" required> Subscription 1 (10eur/month)
            </label>
            <br>
            <label for="sub2">
                <input type="radio" id="sub2" name="subscription_choice" value="2" required> Subscription 2 (30eur/month)
            </label>
            <br>
            <label for="sub3">
                <input type="radio" id="sub3" name="subscription_choice" value="3" required> Subscription 3 (80eur/year)
            </label>
        </div>

        <p><button type="submit" style="font-size: 16px">Checkout</button></p>
    </form>
</body>

</html>